.page .monster.m2024 {
  background:rgba(225,225,225,1);
  background-image: url(https://homebrewery.naturalcrit.com/assets/parchmentBackgroundGrayscale.jpg);
}

.m2024 .statBlock {
  margin-top:-.12cm;
  margin-bottom:-.12cm;
}
.m2024 .statBlock table {
  border-collapse: separate;
  border-spacing: 0 2px; /* horizontal | vertical gap */
  color: var(--HB_Color_HeaderText);
}
.m2024 .statBlock table thead tr {
  line-height:0.9
}
.m2024 .statBlock table thead th {
  color:rgba(63,55,40,0.75); 
  font-size:0.85em; 
  padding:0;
}
.page .m2024 .statBlock table tbody tr {
  background:rgba(0,0,0,0);
}
.m2024 .statBlock table th:nth-child(5){
  width:0.5em;
}

.m2024 .statBlock table tbody tr td:nth-child(5n+1){
  font-weight:bold;
}
.m2024 .statBlock table tbody tr td:nth-child(-n+4){
  background:rgba(80,120,60,0.25);
}
.m2024 .statBlock table tbody tr td:nth-child(-n+2){
  background:rgba(160,160,120,0.25);
}
.m2024 .statBlock table tbody tr td:nth-child(n+6) {
  background:rgba(160,130,150,0.25);
}
.m2024 .statBlock table tbody tr td:nth-child(n+8) {
  background:rgba(80,60,120,0.25);
}
.page .monster {
  z-index:-10;
}
.monster .monsterImage {
  position:absolute;
  top:0;
  width:calc(100%);
  height:100%;
  z-index:-20;
  overflow:hidden;
  opacity:.25;
}
.monster.frame .monsterImage {
  width:calc(100% + .32cm);
  left:-6.04724px;
}
.monster .monsterImage p {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}
.monster .monsterImage p img{
  position:relative;
  min-height:100%;
}
